:root{
--offWhite:#F7FEEB;
--lightGreen:#DAF7A6;
--green:#CCEB94;
--yellow:#FFC300;
--purple:#581845;
--lightPurple: #DAB3CE;
--lavender:#A46090;
--maroon:#900C3F;
--pink:#fe7b7b;
--pwdPink: #F2E7EF;
}

body{
  background-color: var(--pwdPink);
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.main{
  background-color: var(--Pink);
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img-top{
  width: 100%;
  align-items: flex-start;
  border-radius: 10px;
}

.crdStyle{
  background-color: var(--lightGreen);
  width: 40%;
  border-style: solid;
  border-color: var(--green);
  border-width: 5px;
  border-radius: 5px;
  justify-content: space-between;
  margin: 10px; 
}

.nav{
  background-color: var(--lightPurple);
}

.btn{
  background-color: var(--pink);
  border-color: var(--pwdPink);
}

.footer{
  background-color: var(--lightPurple);
  justify-content: flex-end;
}

.formStyle{
  background-color: #581845;
}
.btn-primary{
  background-color: var(--pink);
  border-color: var(--pwdPink);
}