:root{
--offWhite:#F7FEEB;
--lightGreen:#DAF7A6;
--green:#CCEB94;
--yellow:#FFC300;
--purple:#581845;
--lightPurple: #DAB3CE;
--lavender:#A46090;
--maroon:#900C3F;
--pink:#f1b1b1;
--pwdPink: #F2E7EF;
--btnColor: #2E6FF2;
--liteCoral: #EF767A;
--mAqua: #49DCB1;
--aqua: #49BEAA;
--sun:#EEB868;
--lSun: #F8FFE5;
--bloo: #7298e2;
}

body{
  background-color: var(--lSun);
min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
  background-color: var(--Pink);
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
   margin: auto 0;
}

.card-img-top{
  width: 100%;
  align-items: flex-start;
  border-radius: 10px;
}

.card{
  width: 40%;
  border-style: double;
  border-color: var(--aqua);
  border-width: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--mAqua);
}

.nav{
  background-color: var(--sun);
  width: 100%;

}

button{
  background-color: var(--btnColor);
  border-color: var(--lSun);
  border-radius: 10px;
  border-width: 1px;
  justify-content: center;
  justify-content: space-between;
  /* padding: 5px; */
  margin-left: 10px;
}

.footer{
  background-color: var(--sun);
 display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: stretch;
  height: auto;
  width: 100%;
  position:fixed;
bottom:0;
}

.formStyle{
  background-color: var(--aqua);
  color: var(--lSun);
  width: 80%;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary{
  background-color: var(--btnColor);
  border-color: var(--lSun);
  margin: 5px;
}

.btn-primary:hover{
  background-color: #581845;
  
}
.contactBtn{
  background-color: var(--liteCoral);
  border-color: var(--mAqua);
  border-radius: 5px;
  border-width: 1px;
}

.cards{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
  flex-grow: 2;
}

.resumeBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 200px;
}
.btn{
  justify-content: center;
}



.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

}

.emmIcon{
  height: inherit;
  width: 25%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
}

.aboutP{
  font-size: 20px;
  justify-content: center;
  /* color: var(--aqua); */
  background-color: var(--pink);
  border-color: var(--liteCoral);
  border-width: 10px;
  border-radius: 15px;
  border-style: solid;
  margin-bottom: 30px;
  padding: 10px;
}




@media screen and (orientation: portrait) {
  .card{
    width: 100%;
  }
  .formStyle{
    width: 100%;
  }

}
